<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">




<!--  配置sessionFactory 
  --> 

	<bean id="UserDao" class="edu.nju.MyJourney.dao.impl.UserDaoImpl">
	</bean>
	<bean id="CityDao" class="edu.nju.MyJourney.dao.impl.CityDaoImpl">
	</bean>
	<bean id="AttractionDao" class="edu.nju.MyJourney.dao.impl.AttractionDaoImpl">
	</bean>
	<bean id="HotelDao" class="edu.nju.MyJourney.dao.impl.HotelDaoImpl">
	</bean>
	<bean id="JourneyDao" class="edu.nju.MyJourney.dao.impl.JourneyDaoImpl">
	</bean>
	<bean id="PlaceDao" class="edu.nju.MyJourney.dao.impl.PlaceDaoImpl">
	</bean>
	<!-- <bean id="ReplayDao" class="edu.nju.MyJourney.dao.impl.ReplayDaoImpl">
	</bean> -->
	<bean id="RestaurantDao" class="edu.nju.MyJourney.dao.impl.RestaurantDaoImpl">
	</bean>
	<bean id="TeamDao" class="edu.nju.MyJourney.dao.impl.TeamDaoImpl">
	</bean>
	<bean id="UserService" class="edu.nju.MyJourney.service.impl.UserServiceImpl">
		<property name="UserDao">
			<ref bean="UserDao"/>
		</property>
	</bean>		
	<bean id="CityService" class="edu.nju.MyJourney.service.impl.CityServiceImpl">
		<property name="CityDao">
			<ref bean="CityDao"/>
		</property>
	</bean>	
	<bean id="JourneyService" class="edu.nju.MyJourney.service.impl.JourneyServiceImpl">
		<property name="JourneyDao">
			<ref bean="JourneyDao"/>
		</property>
	</bean>	
	<bean id="RestaurantService" class="edu.nju.MyJourney.service.impl.RestaurantServiceImpl">
		<property name="RestaurantDao">
			<ref bean="RestaurantDao"/>
		</property>
	</bean>	
	<bean id="PlaceService" class="edu.nju.MyJourney.service.impl.PlaceServiceImpl">
		<property name="PlaceDao">
			<ref bean="PlaceDao"/>
		</property>
	</bean>	
	<bean id="HotelService" class="edu.nju.MyJourney.service.impl.HotelServiceImpl">
		<property name="HotelDao">
			<ref bean="HotelDao"/>
		</property>
	</bean>	
	<bean id="AttractionService" class="edu.nju.MyJourney.service.impl.AttractionServiceImpl">
		<property name="AttractionDao">
			<ref bean="AttractionDao"/>
		</property>
	</bean>	
	<bean id="LoginAction" class="edu.nju.MyJourney.action.LoginAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
	</bean>	
	<bean id="IndexAction" class="edu.nju.MyJourney.action.IndexAction">
		
	</bean>	
	<bean id="MakeRouteAction" class="edu.nju.MyJourney.action.MakeRouteAction">
		<property name="CityService">
			<ref bean="CityService"/>
		</property>
	</bean>	
	<bean id="SubmitRouteAction" class="edu.nju.MyJourney.action.SubmitRouteAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
		<property name="CityService">
			<ref bean="CityService"/>
		</property>
		<property name="JourneyService">
			<ref bean="JourneyService"/>
		</property>
		<property name="PlaceService">
			<ref bean="PlaceService"/>
		</property>
	</bean>	
	<bean id="ManagerIndexAction" class="edu.nju.MyJourney.action.ManagerIndexAction">
		
	</bean>	
	<bean id="RegisterAction" class="edu.nju.MyJourney.action.RegisterAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
	</bean>	
	<bean id="PersonCenterAction" class="edu.nju.MyJourney.action.PersonCenterAction">
		<property name="UserService">
			<ref bean="UserService"/>
		</property>
	</bean>	
	<bean id="EditRouteAction" class="edu.nju.MyJourney.action.EditRouteAction">
		<property name="JourneyService">
			<ref bean="JourneyService"/>
		</property>
		<property name="HotelService">
			<ref bean="HotelService"/>
		</property>
		<property name="RestaurantService">
			<ref bean="RestaurantService"/>
		</property>
		<property name="AttractionService">
			<ref bean="AttractionService"/>
		</property>
		<property name="PlaceService">
			<ref bean="PlaceService"/>
		</property>
	</bean>	
</beans>
