@CHARSET "UTF-8";
#index_a{
	font-size: 10px;
	font-weight:15;
	color:white;
	margin-left:10px;
	text-decoration:none;
	font-family: sans-serif;
}
#index_a:hover{
	cursor:pointer;
	
	text-decoration: underline;
	color:#E63F00 ;
}
#index_b{
	font-size: 10px;
	font-weight:15;
	color:#EE7700 ;
	margin-left:10px;
	text-decoration:none;
	font-family: sans-serif;
}
#index_b:hover{
	cursor:pointer;
	
	text-decoration: underline;
	color:#E63F00 ;
}
.ind_h_title{
	font-size:25px;
	font-weight:bold;
	color:#921AFF;
	text-decoration: none;
}
.ind_h_detail{
	color:#7B7B7B;
}
.title_lnk:visted{
	color:#921AFF;
}

.title_lnk:hover{
	text-decoration:none;
}

.title_lnk{
	color:#0069ca;
		text-decoration: none;
}
.dghf{
	margin-right:30px;
}